AutoEncoders

Download the Dataset


ML-100k

In [ ]:
!wget "http://files.grouplens.org/datasets/movielens/ml-100k.zip"
!unzip ml-100k.zip
!ls

--2020-10-29 13:15:12--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip.2’

ml-100k.zip.2       100%[===================>]   4.70M  3.55MB/s    in 1.3s

2020-10-29 13:15:14 (3.55 MB/s) - ‘ml-100k.zip.2’ saved [4924029/4924029]

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test
ml-100k  ml-100k.zip  ml-100k.zip.1  ml-100k.zip.2  sample_data

ML 1M

In [ ]:
!wget "http://files.grouplens.org/datasets/movielens/ml-1m.zip"
!unzip ml-1m.zip
!ls

--2020-10-29 13:17:37--  http://files.grouplens.org/datasets/movielens/ml-1m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5917549 (5.6M) [application/zip]
Saving to: ‘ml-1m.zip’

ml-1m.zip           100%[===================>]   5.64M  4.26MB/s    in 1.3s

2020-10-29 13:17:38 (4.26 MB/s) - ‘ml-1m.zip’ saved [5917549/5917549]

Archive:  ml-1m.zip
   creating: ml-1m/
  inflating: ml-1m/movies.dat
  inflating: ml-1m/ratings.dat
  inflating: ml-1m/README
  inflating: ml-1m/users.dat
ml-100k      ml-100k.zip.1  ml-1m      sample_data
ml-100k.zip  ml-100k.zip.2  ml-1m.zip

Import the libraries

In [91]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.optim as optim
import torch.utils.data
import torch.nn.parallel
from torch.autograd import Variable

Import the dataset

In [92]:


movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [93]:
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [94]:
users

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [95]:
ratings

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

Preparing the Training set and Test

In [96]:
training_set = pd.read_csv("ml-100k/u1.base", delimiter = "\t")
training_set = np.array(training_set, dtype = "int")
test_set = pd.read_csv("ml-100k/u1.base", delimiter = "\t")
test_set = np.array(test_set, dtype = "int")

In [97]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [98]:
test_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

Getting the Mx number of users and movies

In [99]:
nb_users = int(max(max(training_set[:, 0], ), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1], ), max(test_set[:, 1])))

In [100]:
nb_of_users

943

In [101]:
nb_of_movies

1682

Let Convert the dataset into an array with users in lines and movies in columns

In [102]:
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:, 1] [data[:, 0] == id_users]
    id_ratings = data[:, 2] [data[:, 0] == id_users]
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data
training_set = convert(training_set)
test_set = convert(test_set)

Let Convert the data into torch tensors

In [103]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [104]:
training_set

tensor([[0., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [105]:
test_set

tensor([[0., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

Let Creat the architecture of Neural Network

In [106]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

Let Train the SAE

In [107]:
nb_epoch = 190
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = input.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+'loss: '+ str(train_loss/s))

epoch: 1loss: tensor(1.7715)
epoch: 2loss: tensor(1.0968)
epoch: 3loss: tensor(1.0532)
epoch: 4loss: tensor(1.0381)
epoch: 5loss: tensor(1.0308)
epoch: 6loss: tensor(1.0264)
epoch: 7loss: tensor(1.0238)
epoch: 8loss: tensor(1.0219)
epoch: 9loss: tensor(1.0207)
epoch: 10loss: tensor(1.0195)
epoch: 11loss: tensor(1.0187)
epoch: 12loss: tensor(1.0185)
epoch: 13loss: tensor(1.0179)
epoch: 14loss: tensor(1.0176)
epoch: 15loss: tensor(1.0172)
epoch: 16loss: tensor(1.0168)
epoch: 17loss: tensor(1.0166)
epoch: 18loss: tensor(1.0163)
epoch: 19loss: tensor(1.0164)
epoch: 20loss: tensor(1.0163)
epoch: 21loss: tensor(1.0161)
epoch: 22loss: tensor(1.0161)
epoch: 23loss: tensor(1.0159)
epoch: 24loss: tensor(1.0158)
epoch: 25loss: tensor(1.0158)
epoch: 26loss: tensor(1.0157)
epoch: 27loss: tensor(1.0152)
epoch: 28loss: tensor(1.0152)
epoch: 29loss: tensor(1.0127)
epoch: 30loss: tensor(1.0113)
epoch: 31loss: tensor(1.0099)
epoch: 32loss: tensor(1.0073)
epoch: 33loss: tensor(1.0076)
epoch: 34loss: tensor(1.0041)
epoch: 35loss: tensor(1.0013)
epoch: 36loss: tensor(0.9984)
epoch: 37loss: tensor(0.9992)
epoch: 38loss: tensor(0.9975)
epoch: 39loss: tensor(0.9955)
epoch: 40loss: tensor(0.9913)
epoch: 41loss: tensor(0.9937)
epoch: 42loss: tensor(0.9901)
epoch: 43loss: tensor(0.9911)
epoch: 44loss: tensor(0.9924)
epoch: 45loss: tensor(0.9905)
epoch: 46loss: tensor(0.9868)
epoch: 47loss: tensor(0.9875)
epoch: 48loss: tensor(0.9833)
epoch: 49loss: tensor(0.9776)
epoch: 50loss: tensor(0.9764)
epoch: 51loss: tensor(0.9792)
epoch: 52loss: tensor(0.9759)
epoch: 53loss: tensor(0.9724)
epoch: 54loss: tensor(0.9696)
epoch: 55loss: tensor(0.9707)
epoch: 56loss: tensor(0.9670)
epoch: 57loss: tensor(0.9682)
epoch: 58loss: tensor(0.9642)
epoch: 59loss: tensor(0.9683)
epoch: 60loss: tensor(0.9640)
epoch: 61loss: tensor(0.9644)
epoch: 62loss: tensor(0.9595)
epoch: 63loss: tensor(0.9599)
epoch: 64loss: tensor(0.9557)
epoch: 65loss: tensor(0.9583)
epoch: 66loss: tensor(0.9562)
epoch: 67loss: tensor(0.9591)
epoch: 68loss: tensor(0.9562)
epoch: 69loss: tensor(0.9577)
epoch: 70loss: tensor(0.9546)
epoch: 71loss: tensor(0.9576)
epoch: 72loss: tensor(0.9537)
epoch: 73loss: tensor(0.9548)
epoch: 74loss: tensor(0.9491)
epoch: 75loss: tensor(0.9555)
epoch: 76loss: tensor(0.9582)
epoch: 77loss: tensor(0.9578)
epoch: 78loss: tensor(0.9513)
epoch: 79loss: tensor(0.9512)
epoch: 80loss: tensor(0.9501)
epoch: 81loss: tensor(0.9485)
epoch: 82loss: tensor(0.9474)
epoch: 83loss: tensor(0.9466)
epoch: 84loss: tensor(0.9452)
epoch: 85loss: tensor(0.9454)
epoch: 86loss: tensor(0.9440)
epoch: 87loss: tensor(0.9441)
epoch: 88loss: tensor(0.9430)
epoch: 89loss: tensor(0.9441)
epoch: 90loss: tensor(0.9420)
epoch: 91loss: tensor(0.9419)
epoch: 92loss: tensor(0.9408)
epoch: 93loss: tensor(0.9406)
epoch: 94loss: tensor(0.9396)
epoch: 95loss: tensor(0.9399)
epoch: 96loss: tensor(0.9381)
epoch: 97loss: tensor(0.9387)
epoch: 98loss: tensor(0.9370)
epoch: 99loss: tensor(0.9375)
epoch: 100loss: tensor(0.9368)
epoch: 101loss: tensor(0.9373)
epoch: 102loss: tensor(0.9364)
epoch: 103loss: tensor(0.9363)
epoch: 104loss: tensor(0.9363)
epoch: 105loss: tensor(0.9359)
epoch: 106loss: tensor(0.9358)
epoch: 107loss: tensor(0.9344)
epoch: 108loss: tensor(0.9333)
epoch: 109loss: tensor(0.9345)
epoch: 110loss: tensor(0.9336)
epoch: 111loss: tensor(0.9394)
epoch: 112loss: tensor(0.9385)
epoch: 113loss: tensor(0.9380)
epoch: 114loss: tensor(0.9360)
epoch: 115loss: tensor(0.9377)
epoch: 116loss: tensor(0.9348)
epoch: 117loss: tensor(0.9367)
epoch: 118loss: tensor(0.9338)
epoch: 119loss: tensor(0.9357)
epoch: 120loss: tensor(0.9333)
epoch: 121loss: tensor(0.9347)
epoch: 122loss: tensor(0.9330)
epoch: 123loss: tensor(0.9344)
epoch: 124loss: tensor(0.9322)
epoch: 125loss: tensor(0.9329)
epoch: 126loss: tensor(0.9306)
epoch: 127loss: tensor(0.9321)
epoch: 128loss: tensor(0.9302)
epoch: 129loss: tensor(0.9316)
epoch: 130loss: tensor(0.9298)
epoch: 131loss: tensor(0.9314)
epoch: 132loss: tensor(0.9295)
epoch: 133loss: tensor(0.9304)
epoch: 134loss: tensor(0.9284)
epoch: 135loss: tensor(0.9297)
epoch: 136loss: tensor(0.9282)
epoch: 137loss: tensor(0.9292)
epoch: 138loss: tensor(0.9267)
epoch: 139loss: tensor(0.9282)
epoch: 140loss: tensor(0.9271)
epoch: 141loss: tensor(0.9278)
epoch: 142loss: tensor(0.9265)
epoch: 143loss: tensor(0.9272)
epoch: 144loss: tensor(0.9263)
epoch: 145loss: tensor(0.9269)
epoch: 146loss: tensor(0.9253)
epoch: 147loss: tensor(0.9256)
epoch: 148loss: tensor(0.9250)
epoch: 149loss: tensor(0.9256)
epoch: 150loss: tensor(0.9245)
epoch: 151loss: tensor(0.9250)
epoch: 152loss: tensor(0.9242)
epoch: 153loss: tensor(0.9243)
epoch: 154loss: tensor(0.9235)
epoch: 155loss: tensor(0.9241)
epoch: 156loss: tensor(0.9232)
epoch: 157loss: tensor(0.9237)
epoch: 158loss: tensor(0.9229)
epoch: 159loss: tensor(0.9232)
epoch: 160loss: tensor(0.9225)
epoch: 161loss: tensor(0.9227)
epoch: 162loss: tensor(0.9219)
epoch: 163loss: tensor(0.9224)
epoch: 164loss: tensor(0.9221)
epoch: 165loss: tensor(0.9219)
epoch: 166loss: tensor(0.9217)
epoch: 167loss: tensor(0.9218)
epoch: 168loss: tensor(0.9218)
epoch: 169loss: tensor(0.9218)
epoch: 170loss: tensor(0.9210)
epoch: 171loss: tensor(0.9211)
epoch: 172loss: tensor(0.9202)
epoch: 173loss: tensor(0.9202)
epoch: 174loss: tensor(0.9193)
epoch: 175loss: tensor(0.9201)
epoch: 176loss: tensor(0.9200)
epoch: 177loss: tensor(0.9201)
epoch: 178loss: tensor(0.9197)
epoch: 179loss: tensor(0.9199)
epoch: 180loss: tensor(0.9193)
epoch: 181loss: tensor(0.9196)
epoch: 182loss: tensor(0.9189)
epoch: 183loss: tensor(0.9191)
epoch: 184loss: tensor(0.9186)
epoch: 185loss: tensor(0.9187)
epoch: 186loss: tensor(0.9183)
epoch: 187loss: tensor(0.9186)
epoch: 188loss: tensor(0.9181)
epoch: 189loss: tensor(0.9182)
epoch: 190loss: tensor(0.9177)

Training the test_set

In [110]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      test_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
print("test_loss:"+ str(test_loss/s))

test_loss:tensor(0.9183)